:root {
  /* CSS HEX */
  --blue: #0321FFff;
  --penn-blue: #030033ff;
  --delft-blue: #323668ff;
  --alice-blue: rgb(250, 253, 255);
  --candy-apple-red: #FD1900ff;

}

@font-face {
  font-family: headerFont;
  src: url('./assets/fonts/Molendra-Regular.ttf');
}
@font-face {
  font-family: subHeaderFont;
  src: url('./assets/fonts/Grandstander-VariableFont_wght.ttf');
}


body {
  background-color: var(--delft-blue);
}


h1, h2, h3 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.main-container {
  background-color: var(--blue);
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.main-header-div {
  margin: 0;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 0px;
  background-color: var(--alice-blue);
  color: var(--penn-blue);
  border: 1px solid var(--penn-blue);
  border-radius: 0% 0% 50% 50% / 0% 0% 100% 100%  ;
  width: 1050px;
  height: 150px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header-text {
  margin-top: 7px;
  margin-bottom: 0;
  font-family: headerFont;
}

.main-sub-title {
  position: absolute;
  left: 50.8%;
  top: 0%;
  transform: translateX(-50.2%);
  display: flex;
  gap: 80px;
  font-family: headerFont;
}

.main-sub-title-left {
  text-align: right;
}

.main-sub-title-right {
  text-align: left;
}
.rwc-logo {
  height: 90px;
  width: 70px;
}

.userPrompt {
  position: absolute;
  background-color: var(--alice-blue);
  color: var(--penn-blue);
  left: 50%;
  top: 190px;
  transform: translateX(-50%);
  padding: 8px 8px;
  border-radius: 4px;
  font-family: subHeaderFont;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px
}

.reset-button {
  background-image: url(./assets/reset-button.png);
  background-size: cover; /* Adjust the background size as needed */
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--candy-apple-red);
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-color: transparent;
}


.reset-button:hover {
  cursor: pointer;
}

/* POOLS */

.pools {
  position: relative;
  width: 98.5vw;
  height: 97.5vh;
}

.pool {
  background-color: var(--penn-blue);
  color: var(--alice-blue);
  width: 10.5%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 7px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.poolHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: subHEaderFont;
  font-size: 20px;
}


.poolLogo {
  height: 18px;
  width: 18px;
}

.poolBtn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--alice-blue);
  border: none;
  border-radius: 4px;
  width: 130px;
  height: 25px;
  font-family: subHeaderFont;
}

.poolBtn:hover{
  transform: scale(1.05);
}

.poolBtn.selected {
  border-left: 5px solid var(--candy-apple-red);
  transition: border-color 0.5s ease-in;
}

.poolA {
  position: absolute;
  top: 0;
  left: 0;
}
.poolB {
  position: absolute;
  bottom: 0;
  left: 0;

}
.poolC {
  position: absolute;
  top: 0;
  right: 0;
}
.poolD {
  position: absolute;
  bottom: 0;
  right: 0;
}

.pool-team-buttons-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.selected-teams{
  width: 110px;
  background-color: aliceblue;
  margin-top: 20px;
  margin-bottom: 8px;
  border-radius: 10px;
  font-size: 13px;
}

.selected-teams-line {
  margin: 7px 0px 7px 0px;
  color: var(--penn-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: subHeaderFont;
}

.pool-reset-button {
  position: absolute;
  bottom: 8px;
}
/* QUARTER FINALS */

.qf {
background-color: var(--penn-blue);
color: var(--alice-blue);
width: 110px;
min-height: 220px;
display: flex;
flex-direction: column;
align-items: center;
padding-bottom: 8px;
border-radius: 15px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
font-family: subHeaderFont;
font-size: 14px;
}

.playoff-logo {
  width: 25px;
  height: 25px;
}

.qf1 {
  position: absolute;
  top: 18%;
  left: 18%;
  transform: translateX(-18%);
}
.qf2 {
  position: absolute;
  bottom: 18%;
  left: 18%;
  transform: translateX(-18%);
}
.qf3 {
  position: absolute;
  top: 18%;
  right: 18%;
  transform: translateX(+18%);
}
.qf4 {
  position: absolute;
  bottom: 18%;
  right: 18%;
  transform: translateX(+18%);
}

.qf-control-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 80px;
}

.qf-team-buttons-div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.team-button {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  background-color: var(--alice-blue);
  color: var(--penn-blue);
  font-family: subHeaderFont;
}

.team-button.selected {
  border: 3px solid red;
  transition: border-color 0.8s ease-in-out;
}

.qf-reset-button {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border-color: transparent;
  position: absolute;
  margin: 0;
}

.qf-reset-button.left-reset {
  left: 0px;
}

.qf-reset-button.right-reset {
  right: 0px;
}

/* SEMI_FINALS */

.semiFinal {
  background-color: var(--penn-blue);
  color: var(--alice-blue);
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.semi-final-header {
  margin-bottom: 0;
  font-family: subHeaderFont;
  font-size: 20px;
}

.semiFinal1 {
  position: absolute;
  top: 25%;
  left: 29%;
  height: 40%;
  transform: translateY(10%);
}
.semiFinal2 {
  position: absolute;
  top: 25%;
  right: 29%;
  height: 40%;
  transform: translateY(10%);
}

.sf-control-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  position: relative;
  height: 100%;
}

.sf-team-buttons-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sf-reset-button {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border-color: transparent;
  position: absolute;
  margin: 0;
  right: 5px;
}

.sf-reset-button.left-reset {
  left: 4px;
}

.sf-reset-button.right-reset {
  right: 4px;
}

/* FINAL */

.final {
  background-color: var(--penn-blue);
  color: var(--alice-blue);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 260px;
  min-height: 240px;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgb(255, 255, 255) 0px 0px 200px 4px;
}

.final-header {
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 0;
  font-family: subHeaderFont;
}

.final-control-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  position: absolute;
  bottom: 50%;
  transform: translateY(60%);
  
}

.final-team-buttons-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.final-reset-button {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border-color: transparent;
}

/* BRONZE FINAL */

.bronzeFinal {
  background-color: var(--penn-blue);
  color: var(--alice-blue);
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  width: 180px;
  min-height: 180px;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.bronze-final-header {
  font-family: subHeaderFont;
}

.final-result{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--alice-blue);
  padding: 5px 10px 5px 5px;
  border-radius: 10px;
  color: var(--penn-blue);
  margin: 10px 0px;
  font-family: subHeaderFont;
  font-size: 14px;
}

.bronze-team-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  font-size: 7px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--alice-blue);
  color: var(--penn-blue);
  font-family: subHeaderFont;
}

.bronze-team-button.selected {
  border: 3px solid red;
  transition: border-color 0.8s ease-in-out;
}


/* Footer */

.start-over-btn {
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 35px;
  border-radius: 12px;
  font-family: subHeaderFont;
  font-size: 12px;
  color: var(--penn-blue);
  background-color: var(--alice-blue);
  border-color: var(--penn-blue);
}

.start-over-btn:hover {
  background-color: var(--penn-blue);
  color: var(--candy-apple-red);
  border-color: var(--candy-apple-red);
}

.copyright-footer {
  color: var(--alice-blue);
  position: absolute;
  bottom: 2px;
  right: 18%;
  transform: translateX(+18%);
  font-size: 12px;
}
